#h4 {
  color: white;
}

.img-raised {
  border-radius: 100%;
}

.grid-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  overflow: auto;
  width: 100%;
}

.card-plain {
  width: 230px;
  height: 320px;
  margin: 0 auto;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  row-gap: 40px;
  text-align: center;
}

#team_img {
  width: 300px;
  margin-left: 0%;
}
#team_img1 {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-left: 0%;
  margin-top: 5%;
}

.x-scroll-disabled::-webkit-scrollbar {
  display: none;
}
#btn_toggler {
  width: 60px;
  height: 5px;
  background-color: #a25edc;
}

@media screen and (max-width: 1200px) {
  #team_img1 {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-left: 0%;
    margin-top: 5%;
  }

  .card-plain {
    width: 180px;
    height: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  #team_img1 {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-left: 0%;
    margin-top: 5%;
  }

  .card-plain {
    width: 160px;
    height: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  #team_img1 {
    margin-left: 0%;
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    row-gap: 40px;
  }

  #phone {
    margin: 0;
    padding: auto;
  }
  .col {
    flex-basis: 0;
  }

  .card-plain {
    height: 320px;
    width: 280px;
    margin: 0 auto;
  }

  #meet_the_team_h2 {
    text-align: center;
    margin-left: 4%;
  }
  #meet_the_team_h4 {
    text-align: center;
    font-size: 1.5rem;
  }
  .grid-content {
    grid-template-columns: auto auto;
    row-gap: 2rem;
    overflow: hidden;
    justify-content: space-between;
  }
  .btn_toggler {
    visibility: hidden;
  }
  .hide_mob {
    visibility: hidden;
  }
}

@media screen and (max-width: 650px) {
  #team_img1 {
    margin-left: 0%;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .card-plain {
    height: 280px;
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .team-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    row-gap: 40px;
  }

  #team_img1 {
    margin-left: 0%;
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .card-plain {
    height: 320px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  #meet_the_team_h4 {
    text-align: center;
  }
}
#meet_the_team_h4 {
  color: white;
  font-weight: normal;
}
