#h4 {
  color: white;
}

.img-raised {
  border-radius: 100%;
}

.grid-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  overflow: auto;
  width: 100%;
}

.card-plain {
  margin: 0 auto;
}

.team-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  row-gap: 40px;
}

#team_img {
  width: 300px;
  margin-left: 0%;
}
#team_img1 {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-left: 0%;
  margin-top: 5%;
}

.x-scroll-disabled::-webkit-scrollbar {
  display: none;
}
#btn_toggler {
  width: 60px;
  height: 5px;
  background-color: #a25edc;
}

.advisors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* column-gap: 1rem; */
  row-gap: 2rem;
  margin: 8rem 0;
  padding: 0 3rem;
}

@media screen and (max-width: 1400px) {
  .advisors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem;
  }
}
@media screen and (max-width: 800px) {
  #team_img1 {
    margin-left: 0%;
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  #phone {
    margin: 0;
    padding: auto;
  }
  .col {
    flex-basis: 0;
  }
  .card-plain {
    height: 300px;
    width: 145px;
    margin: 0 auto;
  }
  #meet_the_team_h2 {
    text-align: center;
    margin-left: 4%;
  }
  #meet_the_team_h4 {
    text-align: center;
    font-size: 1.5rem;
  }
  .grid-content {
    grid-template-columns: auto auto;
    row-gap: 2rem;
    overflow: hidden;
    justify-content: space-between;
  }
  .btn_toggler {
    visibility: hidden;
  }
  .hide_mob {
    visibility: hidden;
  }
}

@media screen and (min-width: 800px) {
  #meet_the_team_h4 {
    text-align: center;
  }
  .card-plain {
    height: 420px;
    width: 280px;
    margin: 0 auto;
  }
}
#meet_the_team_h4 {
  color: white;
  font-weight: normal;
}
